#leaf {
  max-height: 37px;
  margin-right: 17px;
  margin-top: -7px;
  display: inline-block;
}

#brand {
  color: #eee;
  font-size: 19pt;
}

.jumbo-grow {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 200pt;
  color: rgba(239, 220, 181, 0.25);

}

.jumbotron {
  height: 1300px;
  background-color: rgba(229, 205, 163, 0.55);
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

blockquote {
  margin-top: 148px;
  color: #eee;
  font-size: 28pt;
  font-weight: lighter;
}

footer {
  color: rgba(206, 189, 157, 0.56);
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100pt;
  text-align: center;
  color: rgba(224, 203, 167, 0.44);
}

a {
  color: #eee;
  font-weight: lighter;
  font-size: 19pt;
}


#row-of-3 {
  margin: auto;
}

.col-md-4 {
  height: 350px;
  width: 350px;
}
