

.jumbo-grow {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 200pt;
  color: rgba(239, 220, 181, 0.25);

}

.jumbotron {
  height: 1300px;
  background-color: rgba(229, 205, 163, 0.55);
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

blockquote {
  margin-top: 148px;
  color: #eee;
  font-size: 28pt;
  font-weight: lighter;
}

footer {
  color: rgba(206, 189, 157, 0.56);
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100pt;
  text-align: center;
  color: rgba(224, 203, 167, 0.44);
}

a {
  color: #eee;
  font-weight: lighter;
  font-size: 19pt;
}



h3 {
  text-align: center;
  font-size: 22pt;
  font-weight: lighter;
  color: #2b2d1f;
}

li {
  font-weight: lighter;
  font-size: 17pt;
  color: #2b2d1f;
}

.best {
  font-weight: 300;
}

.panel-index {
  background-color: rgba(238, 238, 238, 0.56);
  height: 420px;
}

.about p {
  font-size: 14pt;
  font-weight: lighter;
  color: #2b2d1f;
  padding: 18px;
  height: 470px;
  border: 2px solid rgba(49, 70, 34, 0.74);
}

.other-projects a {
  color: red;
  font-size: 15pt;
}

.other-projects .site {
  height: 400px;
  padding: 17px;
  border: 2px solid rgba(49, 70, 34, 0.74);
}

.other-projects p {
  font-size: 14pt;
  font-weight: lighter;
}

#land {
  float: left;
  width: 770px;
  height: 370px;
  display: block;
}

.sgs p {
  font-size: 14pt;
  font-weight: lighter;
  color: #eee;
  margin-right: 35px;
  padding: 15px;
}

.sgs h3 {
  color: #eee;
  font-weight: lighter;
  padding-top: 25px;
}

.sgs {
  background-color: rgba(51, 95, 13, 0.83);
}
