.shop-form {
  background-color: rgba(238, 238, 238, 0.67);
  border: 5px solid rgba(238, 238, 238, 0.56);
  border-radius: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-left: 235px;
  margin-right: 235px;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  color: rgba(51, 51, 51, 0.67);
}

label {
  text-align: center;
  font-family: sans-serif;
  color: rgba(51, 51, 51, 0.67);
}

btn-style {
  text-align: center;
  font-family: sans-serif;
  color: rgba(51, 51, 51, 0.67);
}

.body-image {
  background-image: url(../img/orbs.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-grow {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 200pt;
  color: rgba(239, 220, 181, 0.25);

}

.jumbotron {
  height: 1300px;
  background-color: rgba(229, 205, 163, 0.55);
  background-image: url(../img/4.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

blockquote {
  margin-top: 148px;
  color: #eee;
  font-size: 28pt;
  font-weight: lighter;
}

footer {
  color: rgba(206, 189, 157, 0.56);
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 75pt;
  text-align: center;
  color: rgba(224, 203, 167, 0.44);
}

a {
  color: #eee;
  font-weight: lighter;
  font-size: 19pt;
}



h3 {
  text-align: center;
  font-size: 22pt;
  font-weight: lighter;
  color: #2b2d1f;
}

li {
  font-weight: lighter;
  font-size: 17pt;
  color: #2b2d1f;
}

.best {
  font-weight: 300;
}

.panel-index {
  background-color: rgba(238, 238, 238, 0.67);
  height: 420px;
  border: 5px solid rgba(238, 238, 238, 0.56);
}

.panel-shopnow {
  background-color: rgba(238, 238, 238, 0.67);
  height: 385px;
  border: 5px solid rgba(238, 238, 238, 0.56);
}

.panel-contact {
  background-color: rgba(238, 238, 238, 0.67);
  height: 600px;
  border: 5px solid rgba(238, 238, 238, 0.56);
}

.about p {
  font-size: 14pt;
  font-weight: lighter;
  color: #2b2d1f;
  padding: 18px;
  height: 470px;
  border: 2px solid rgba(49, 70, 34, 0.74);
}

.about {
  background-color: rgba(238, 238, 238, 0.67);
  border: 5px solid rgba(238, 238, 238, 0.56);
}

.other-projects a {
  color: red;
  font-size: 15pt;
}

.other-projects .site {
  height: 400px;
  padding: 17px;
  border: 5px solid rgba(238, 238, 238, 0.56);
}

.other-projects p {
  font-size: 14pt;
  font-weight: lighter;
}

.site {
  background-color: rgba(238, 238, 238, 0.67);
}

#land {
  float: left;
  width: 770px;
  height: 370px;
  display: block;
}

.sgs p {
  font-size: 14pt;
  font-weight: lighter;
  color: #eee;
  margin-right: 35px;
  padding: 15px;
}

.sgs h3 {
  color: #eee;
  font-weight: lighter;
  padding-top: 25px;
}

.sgs {
  background-color: rgba(103, 146, 35, 0.87);
}
